<div class="container-action" ng-controller="replaceCtrl">
    <button class="btn btn-default btn-menu" name="replaceFirst" ng-click="replaceFirst(count)">         replace I</button>
    <button class="btn btn-default btn-menu" name="replaceMid"   ng-click="replaceMid(count)">         replace II</button>
    <button class="btn btn-default btn-menu" name="replaceLast"  ng-click="replaceLast(count)">         replace III</button>
    <div> 
        replace:
        <input type="text" class="form-control input100" name="input-replace" ng-model="count">
        elements
    </div>
</div>