<!-- <div class="input-group" ng-controller="searchInputCtrl">
    <input type="text" class="form-control" placeholder="search for..." name="input-search" ng-model="inputSearch" ng-change="searchFor(inputSearch)">
    <span class="input-group-btn">
        <button class="btn btn-default" name="btn-search">search</button>
    </span>
</div> -->

 <div class="input-group">
    <input type="text" class="form-control" placeholder="search for..." name="input-search" ng-model="model.inputSearch">
    <span class="input-group-btn">
        <button class="btn btn-default" name="btn-search">search</button>
    </span>
</div>